################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UpdateDB/obj
/UpdateDB/bin/Debug/net8.0
/UpdateDB/.vs/UpdateDB
/UpdateDB/connectionstring
